@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    background: #d3e4f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}

/* Раздел Инфо */
.info
{
    background: #f1f1f1;
    display: flex;
    width: 900px;
    height: 300px;
    border: none;
    border-radius: 30px;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 50px;
}
.info img
{
    border-radius: 30px;
    height: 300px;
}
.right
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
}

.desc p
{
    margin-top: 10px;
}
.links
{
    margin-top: 50px;
}
.links p
{
    margin-top: 10px;
}
.links a
{
    text-decoration: none;
    margin-right: 10px;
}
/*Конец  раздела Инфо */

.card
{
    background: #e5ffe7;
    width: 900px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 20px 25px;
}

/* Раздел Хобби */
.hobby
{
    background: #e5ffe7;
    width: 900px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 20px 25px;
    
}
.hobby ol
{
    text-align: left;
    margin-left: 30px;
    color: grey;
    margin-top: 10px;
}
/* Конец раздела Хобби */

/* Раздел Опыт работы */
.work
{
    background: #fff9dc;
}
.work table
{
    width: 100%;
    margin-top: 10px;
}
.work td
{
    color: grey;
    padding-bottom: 10px;

}
.work td:nth-child(1)
{
    color: rgb(56, 54, 54);
}
/* Конец раздела Опыт работы */

/* Раздел Связаться со мной */
.contact
{
    background: transparent;
    padding: 0;

}
.contact h2
{
    text-align: center;
}

.name_email
{
    display:flex;
    justify-content: left;
    margin-top: 10px;
}
.nm
{
    margin-right: 20px;

}

.nm input
{
    width: 440px;
}
.form input
{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid grey;
    padding: 20px 0;
}

.form textarea
{
    border: none;
    outline: none;
    background: transparent; 
    padding: 20px 0;
    width: 900px;
}
.form .btn
{
    background: black;
    color:white;
    font-size: 22px;
    width: 150px;
}
/* Конец раздела Связаться со мной */






@media (max-width:390px)
{

   
    .section
    {
        
        font-size: 15px;
        width: 100%;

    }

/* Раздел Инфо */
    .info
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .info img
    {
        width: 100%;
        height: auto;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        align-items: center;

    }
/*Конец  раздела Инфо */

/* Раздел Хобби */
    .hobby
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }  
/* Конец раздела Хобби */

/* Раздел Опыт работы */
    .work
    {
        width: 100%;
        height: auto;
    }
/* Конец раздела Опыт работы */












/* Раздел Связаться со мной */

    .contact
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
  
    .name_email
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }


    .nm input
    {
        width: 100%;
    }

    .text .btn
    {
        margin-left: 30%;
    }

/* Конец раздела Связаться со мной */

}






